@model List<Kluby.Models.Sponsorzy>
@{
    ViewBag.Title = "Sponsorzy";
}

<h2>Sponsorzy</h2>

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #ffffff;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #37c754;
    }
    tr:nth-child(even) {
        background-color: #0987db;
    }
    tr:hover {
        background-color: #37c754;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    a:hover {
        text-decoration: underline;
    }
</style>

<table>
    <thead>
        <tr>
            <th>
                <a asp-action="Sponsorzy" asp-route-sortOrder="id_asc">ID ▲</a> |
                <a asp-action="Sponsorzy" asp-route-sortOrder="id_desc">ID ▼</a>
            </th>
            <th>
                <a asp-action="Sponsorzy" asp-route-sortOrder="name_asc">Nazwa ▲</a> |
                <a asp-action="Sponsorzy" asp-route-sortOrder="name_desc">Nazwa ▼</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sponsor in Model)
        {
            <tr>
                <td>@sponsor.id_sponsora</td>
                <td>@sponsor.Nazwa</td>
            </tr>
        }
    </tbody>
</table>
